.fab-container {
    bottom: 2rem;
    position: fixed;
    right: 2rem;
    width: 100%;
    z-index: 2;
}

.iconbutton {
    background-color: var(--arc-palette-maxContrastColor, rgb(231, 192, 0));
    border-radius: 50%;
    float: right;
    height: 3rem;
    width: 3rem;
    flex-shrink: 0;
}

.iconbutton .iconify {
    color: var(--arc-palette-background, #FFF);
    font-size: 2rem;
    height: 100%;
    display: block;
    margin: auto;
}

#fab {
    cursor: pointer;
    background: var(--arc-palette-maxContrastColor, rgb(231, 192, 0));
    height: 5rem;
    transition: transform 0.5s;
    width: 5rem;
}

#fab.active {
    transform: rotate(45deg);
}

#fab-options {
    bottom: 5rem;
    display: block;
    list-style-type: none;
    opacity: 0%;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translateY(100%) scale(0%);
    transform-origin: 90% bottom;
    transition: transform 0.5s, opacity 0.5s;
}

#fab-options.active {
    display: block;
    opacity: 100%;
    pointer-events: all;
    transform: translateY(0) scale(100%);
}

#fab-options li {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    clear: both;
    overflow: hidden;
}

.btn-label {
    align-self: center;
    background-color: var(--arc-palette-focus, rgb(255, 249, 216));
    border-radius: 3px;
    color: var(--arc-background-simple-color, --arc-background-gradient-color0, rgb(107, 89, 0));
    font-size: 1.25rem;
    margin-right: -1rem;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    padding: 0;
    user-select: none;
    border-color: var(--arc-palette-maxContrastColor, rgb(231, 192, 0));
    border-left-style: solid;
    border-left-width: 0.5rem;
    border-radius: 0.375rem;
    z-index: -1;
    width: 0%;
    white-space: nowrap;
    transition: width 0.25s 0.25s ease-out, padding 0.25s ease-out;
}

#fab-options.active li .btn-label {
    width: 100%;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
}

@media (prefers-color-scheme: dark) {
    .btn-label {
        background-color: var(--arc-palette-focus, rgb(78, 71, 39));
        color: var(--arc-background-simple-color, --arc-background-gradient-color0, rgb(255, 238, 162));
    }
}